<section id="chat-container">

   <h1>Bienvenidos al Chat!</h1>

 
<label for="chatbox"> Su mensaje:</label>
<input id="chatbox" name="chatbox">    

    <p id="messageLogs"></p>

 

</section>

 

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>