<div>
    <h1>Inyectando coockies</h1>
    <form id="coookiesForm"> 
        <label for="name">Nombre: </label>
        <input type="text" name="name" id="name">
        <label for="correo">Correo: </label>
        <input type="text" name="mail" id="correo">
        <input type="submit" value="enviar">
    </form>
    <br>
    <button onclick="getCookies()">Obtener cookies</button>
</div>
<script src="/js/cookiesSetters.js"></script>