<section class="formulario">
    <form method="post" action="/api/sessions/forgotPassword">
        <label for="Mail">Email: </label>
        <br>
        <input type="email" placeholder="correo" name="mail" id="Mail">
        <br>
        <input type="submit" value="Restablecer contraseña">
    </form>
</section>