<section class="formulario">
    <h1>Login</h1>
    <form id="loginForm">
    <label for="Mail">mail: </label>
    <input type="email" name="mail" id="Mail">
    <label for="pass">Contrase침a: </label>
    <input type="password" name="password" id="pass">
    <input class="btn-page" type="submit" value="LOG">  
    </form>
    <p>No estar Registrado? <a href="/register"> Registrarme</a></p>
    <p>Olvid칩 su contrase침a? <a href="/forgot-password"> Reestablecer contrase침a </a></p>
        <div>
            <a href="/api/sessions/github"><button class="btn-page">Entrar con Github</button></a>
        </div>
</section>
<script src="/js/login.js"></script>