<section id="perfil">
    
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>{{user.name}}</p>
    <p>{{user.mail}}</p>
    <p>{{user.age}}</p>
    <section>
        <ul class="categorias">
            <li>
                <a  class="btn-page" href="/api/sessions/logout">Salir</a>
            </li>
            <li>
                <a class="btn-page" href="/products">Productos</a>
            </li>
        </ul>
    </section>
    
</section>