{{!-- <div id="my-container"></div> --}}
<table >
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Stock</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody id="my-container">
    </tbody>
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>