<div class="formulario">
  {{!-- <form id="myForm" action="" method="post">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title"><br><br>

    <label for="description">Descripción:</label>
    <textarea id="description" name="description" rows="5" cols="50" style="resize: none;"></textarea><br><br>

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price"><br><br>

    <label for="thumbnail">Imagen de muestra:</label>
    <input type="text" id="thumbnail" name="thumbnail"><br><br>

    <label for="code">Código:</label>
    <input type="text" id="code" name="code"><br><br>

    <label for="stock">Existencias:</label>
    <input type="number" id="stock" name="stock"><br><br>

    <label for="category">Categoría:</label>
    <select id="category" name="category">
      <option value="entrada">Entrada</option>
      <option value="principal">Plato principal</option>
      <option value="postre">Postre</option>
    </select><br><br>

    <input type="submit" value="Enviar">
  </form> --}}
  
{{!-- se debe agreagar boton para editar --}}

<form id="myForm" action="" method="post">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id">
    <button type="button" onclick="loadData()">EDIT</button><br><br>

    <label for="title">Título:</label>
    <input type="text" id="title" name="title"><br><br>

    <label for="description">Descripción:</label>
    <textarea id="description" name="description" rows="5" cols="50" style="resize: none;"></textarea><br><br>

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price"><br><br>

    <label for="thumbnail">Imagen de muestra:</label>
    <input type="text" id="thumbnail" name="thumbnail"><br><br>

    <label for="code">Código:</label>
    <input type="text" id="code" name="code"><br><br>

    <label for="stock">Existencias:</label>
    <input type="number" id="stock" name="stock"><br><br>

    <label for="category">Categoría:</label>
    <select id="category" name="category">
      <option value="Entrada">Entrada</option>
      <option value="Principal">Plato principal</option>
      <option value="Postre">Postre</option>
      <option value="Bebida">Bebida</option>
    </select><br><br>

    <input type="submit" value="Enviar">
  </form>

</div>
<hr>
<div class="formulario">
  <form id="formDelete">
  <label for="text-input">Id:</label>
  <input type="test" id="text-input" name="text-input">
  <button type="button" id="delete-button">Eliminar</button>
</form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/registerProduct.js"></script>