<section class="formulario">
    <form method="post" action="/api/sessions/resetPassword?token={{token}}">
        <label for="Mail">mail: </label>
        <input type="email" name="mail" id="Mail">
        <label for="pass">Contraseña: </label>
        <input type="password" name="password" id="pass">
        <input type="submit" value="Restablecer">
    </form>
</section>
